.create-exercise-container {
  color: black; 
}

.create-exercise-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; 
}

.create-exercise-container input,
.create-exercise-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-exercise-button {
  padding: 10px 20px;
  background-color: black;
  color: white; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold; 
}

.create-exercise-button:hover {
  background-color: #333;
}

.create-exercise-container h2 {
  margin-bottom: 20px;
  font-weight: bold;
}
